.footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    padding: 0px;
    position: relative;
    width: 100%;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer * {
    font-weight: 600;
  }

.toggle-btn {
    position: absolute;
    right: 20px;
    bottom: 10px;
    font-size: 0.7rem; 
    padding: 2px 5px;  
    width: 100px; 
    height: 35px;     
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
}
