
.all-games-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.game-div {
    margin: 20px 30px;
    padding: 30px 40px;
    box-shadow: -3px 3px 7px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 400px;
    min-height: 300px;
    border-radius: 7px;
    color: var(--header-text-color);
}

.btn-div {
    text-align: center;
    margin-top: 30px;
}

.letter-match-div, .word-blitz-div , .word-chain-div{

    background-color: var(--header-bg-color);
}

.game-image-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 3px;

}

.game-image-div * {
    z-index: 2;
}

.game-image-div h2{
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .all-games-div {
        flex-direction: column;
    }
    
}