.friends-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    padding: 2px;
    margin-bottom: 30px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.logged-in-user {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #555;
}

.friends-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    font-size: 1rem;
    color: #777;
    margin-bottom: 5px;
}

input {
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    background-color: #222;
    color: white;
    width: 100%;
}

input:focus {
    border-color: #007bff;
}

.button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button {
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex: 1;
    margin: 5px;
}

button:hover {
    background-color: #218838;
}

.remove-btn {
    background-color: #dc3545;
}

.remove-btn:hover {
    background-color: #c82333;
}

.friend-message {
    margin-top: 10px;
    font-size: 1rem;
    color: #28a745;
}

.friends-list{
    text-align: center;
}
.friends-list ul{
    list-style: none;
}
.friends-list .friend-username{
    display: block;
    font-weight: 600;
}