
:root{
  --header-color-highlight: rgb(0, 119, 255);
  --header-color-hightlight-brightened: rgb(80, 162, 255);
  
  --header-bg-color: #1a1a1a;
  --footer-bg-color: var(--header-bg-color);
  --main-bg-color: #f8f9fa;

  --header-text-color: rgba(255, 255, 255, 1);
  --footer-text-color: var(--header-text-color);
  --main-text-color: #333;

}

[data-color-theme="jungle"]{
  --header-bg-color: #265B0F;
  --header-color-highlight: #d4fc0b; /* #86DC3D  */
  --header-color-hightlight-brightened: #eaff83;
  --main-bg-color: #d1ffb7;
}
[data-color-theme="ocean"]{
  --header-bg-color: #0E3F5A;
  --header-color-highlight: #00b3e6;
  --header-color-hightlight-brightened: #00d8ff;
  --main-bg-color: #b3e0ff;
}
[data-color-theme="desert"]{
  --header-bg-color: #8B4513;
  --header-color-highlight: #ffcc00;
  --header-color-hightlight-brightened: #ffdb4d;
  --main-bg-color: #ffe0b2;
}
[data-color-theme="arctic"]{
  --header-bg-color: #1C2833;
  --header-color-highlight: #00b3e6;
  --header-color-hightlight-brightened: #00d8ff;
  --main-bg-color: #b3e0ff;
}
[data-color-theme="fire"]{
  --header-bg-color: #8B0000;
  --header-color-highlight: #ffcc00;
  --header-color-hightlight-brightened: #ffdb4d;
  --main-bg-color: #ffe0b2;
}
[data-color-theme="default"]{
  --header-bg-color: #1a1a1a;
  --header-color-highlight: rgb(0, 119, 255);
  --header-color-hightlight-brightened: rgb(80, 162, 255);
  --main-bg-color: #f8f9fa;
}
[data-color-theme="lightmode"]{
  --header-bg-color: #1a1a1a;
  --header-color-highlight: rgb(0, 119, 255);
  --header-color-hightlight-brightened: rgb(80, 162, 255);
  --main-bg-color: #f8f9fa;
}
[data-color-theme="space"]{
  --header-bg-color: #000000;
  --header-color-highlight: #ffffff;
  --header-color-hightlight-brightened: #ffffff;
  --main-bg-color: #000000;
}
[data-color-theme="darkmode"]{
  --header-bg-color: #ffffff43;
  --header-color-highlight: rgb(47, 0, 255);
  --header-color-hightlight-brightened: rgb(109, 255, 80);
  --main-bg-color: #000000;
}
[data-color-theme="puzzle"]{
  --header-bg-color: #05070a;
  --header-color-highlight: #00ff62; 
  --header-color-hightlight-brightened: rgb(33, 255, 13);
  --main-bg-color: none;
}
[data-color-theme="puzzle"] main {
  background-image: url("paper-patterns-213695_1920.jpg");
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
}


body > div {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
main{
  flex-grow: 1;
  background: var(--main-bg-color);
  color: var(--main-text-color);
}

body {
  background-color: var(--footer-bg-color);
}



/* Start of Header */
header{
  padding: 20px 30px;
  background-color: var(--header-bg-color);
  list-style: none;
  display: flex;
  align-items: center;
}
header * {
  color: var(--header-text-color);
}
header .logo-div box-icon{
    margin-right: 14px;  
    width: 50px;
    height: 50px;
}
header box-icon {
  fill: var(--header-color-highlight)
}
header a, .mimic-header-link {
  color: var(--header-text-color);
  font-weight: 600;
}
header a, header .logo-div div, .mimic-header-link{
  transition: 0.1s ease color;
}
header a:hover li, header .logo-div:hover div, .mimic-header-link:hover {
  cursor: pointer;
  color:var(--header-color-hightlight-brightened);
  fill: var(--header-color-hightlight-brightened);
}
header .logo-div{
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}
header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
header nav .call-to-action-div{
  display: flex;
  justify-content: end;
  align-items: center;
}
header ul {
  display: flex;
  align-items: center;
  list-style: none;
}
header nav a {
  padding: 3px 9px;
  margin-left: 8px;
  margin-right: 8px;
}
header .logo {
  max-width: 35px;
  padding-right: 7px;
 }
 .header-style-btn{
  padding: 10px 14px;
  border: 3px solid var(--header-color-highlight);
  border-radius: 10px;
  transform: all 0.1s ease;
  font-weight: 600;
  color: var(--header-color-highlight);
 }
 header .call-to-action-div a:hover *, .header-style-btn:hover{
  color:var(--header-color-hightlight-brightened);
  border-color: var(--header-color-hightlight-brightened);
 }
 header .call-to-action-div * {
  color: var(--header-color-highlight);
 }
 .user-icon-div{
  position: relative;
 }
 .call-to-action-div > * {
  margin: 0 10px;
 }
 .call-to-action-div box-icon{
  cursor: pointer;
 }
 header .user-icon-div{
  display: flex;
  align-items: center;

 }
header .call-to-action-div box-icon {
  width: 40px;
  height: 40px;
}
 .user-icon-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 50%; 
    transform: translateX(-50%); 
    background: var(--header-bg-color);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100px;
    z-index: 10;
 }
 .user-icon-dropdown-menu ul {
  display: flex;
  flex-direction: column;
  align-content: start;
  justify-content: space-evenly;
  padding:  2px 0;
  margin: 0;
 }
 .user-icon-dropdown-menu li {
  padding: 2px 0;
 }
 .hello-user-span{
  font-weight: bold;
  font-size: 1.3rem;
 }
 .mobile-nav{
  display: flex;
  align-items: center;
  justify-content: end;
 }
 .mobile-nav box-icon{
  width: 40px;
  height: 40px;
 }
 .hamburger-menu{
  position: fixed;
  top: 0;
  right:0;
  width: 150px; 
  height: 100vh;
  background-color: var(--header-bg-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease-in-out;
  padding: 20px;
  z-index: 100;
  display: flex;
  flex-direction: column;
 }
 .hamburger-menu > li {
  margin-top: 15px;
 }
 /* End of Header */

 /* Start of Chat */
 .chat-div{
  position: relative;
 }
 .chat-div * {
  list-style: none;
 }
 .chat-corner-icon{
  width: 100px;
  height: 100px;
  background-color: #00ff62;
  z-index: 99;
  position: fixed;
  bottom: 20px; 
  right: 20px; 
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  fill: white;
 }
 .chat-corner-icon box-icon{
  width: 60px;
  height: 60px;
 }
 .unread-message-alert-div,
 .unread-chat-messages-div{
  background-color: #ff0000;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .unread-message-alert-div{
  width: 35px;
  height: 35px;
  z-index: 100;
  position: fixed;
  bottom: 20px; 
  right: 90px; 
  border-radius: 50%;

}
.unread-chat-messages-div{
  width: 27px;
  height: 27px;
  border-radius: 3px;
}
.unread-chat-messages-div-container{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.corner-icons-div{
  cursor: pointer;
}
.corner-icons-div:hover .chat-corner-icon{
  scale: 1.02;
 }
 .chat-corner-icon box-icons{
  height: 50px;
  width: 50px;
  fill: white;
 }
 .chat-menu{
  position: fixed;
  bottom: 130px;
  right: 20px;
  background-color: white;
  width: 300px;
  height: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 10px;
  z-index: 99;
 }
 .all-chats-view{
  overflow-y: auto;
 }
 .chat-focus-view{
  display: flex;
  flex-direction: column;
 }
 .chat-focus-view .messages-div{
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
 }

 .chat-message-div p {
  margin: 0;
 }
 .chat-message-div span{
  font-weight: 700;
  margin: 0;
  margin-right: 10px;
 }
 .chat-focus-view form{
  display: flex;
  justify-content: start;
  align-items: center;
 }
 .chat-focus-view form button{
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .chat-focus-view form button * {
  fill: white;
 }
 .chat-div h6{
  font-size: 1.2rem;
  margin: 15px 0;
  text-align: center;
 }
 .chat-message-div{
  border: white 1px solid;
  border-radius: 10px;
  padding: 10px 20px ;
  display: flex;
 }
.chat-message-div.you-message {
  background-image: radial-gradient(circle, rgba(21, 255, 0, 0.25) 60%, rgba(17, 209, 0, 0.2) 85%, rgba(21, 255, 0, 0.14) 100%);
}
.chat-message-div.them-message {
  background-image: radial-gradient(circle, rgba(94, 107, 240, 0.3) 60%, rgba(71, 43, 209, 0.2) 90%, rgba(97, 71, 209, 0.1) 100%);
}
.all-chats-view .chat-li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.05rem;
  padding: 5px 0px;
}
.all-chats-view .chat-li box-icon{
  fill: red;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.all-chats-view .x-icon-div{
  width: 50px;
  padding-right: 10px;
}

.all-chats-view .chat-li .last-message{
  opacity: 50%;
  margin-left: 20px;
  width: 95px;
  overflow: hidden;
  white-space: nowrap;
}
.all-chats-view .chat-li .username{
  font-weight: 600;
}
.all-chats-view .chat-li > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.all-chats-view ul{
  padding: 0 20px;
}
.chat-div .back-btn{
  cursor: pointer;
}


 /* End of Chat */

 



:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
