
* {
  --header-color-highlight: rgb(0, 119, 255);
  --header-color-hightlight-brightened: rgb(80, 162, 255);
  
  --header-bg-color: #1a1a1a;
  --footer-bg-color: var(--header-bg-color);
  --main-bg-color: #f8f9fa;

  --header-text-color: rgba(255, 255, 255, 1);
  --footer-text-color: var(--header-text-color);
  --main-text-color: #333;

}


body > div {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
main{
  flex-grow: 1;
  background: var(--main-bg-color);
  color: var(--main-text-color);
}

body {
  background-color: var(--footer-bg-color);
}



/* Start of Header */
header{
  padding: 20px 30px;
  background-color: var(--header-bg-color);
  list-style: none;
  display: flex;
  align-items: center;
}
header * {
  color: var(--header-text-color);
}
header .logo-div box-icon{
    margin-right: 14px;  
    width: 50px;
    height: 50px;
}
header box-icon {
  fill: var(--header-color-highlight)
}
header a, .mimic-header-link {
  color: var(--header-text-color);
  font-weight: 600;
}
header a, header .logo-div div, .mimic-header-link{
  transition: 0.1s ease color;
}
header a:hover li, header .logo-div:hover div, .mimic-header-link:hover {
  cursor: pointer;
  color:var(--header-color-hightlight-brightened);
  fill: var(--header-color-hightlight-brightened);
}
header .logo-div{
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}
header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
header nav .call-to-action-div{
  display: flex;
  justify-content: end;
  align-items: center;
}
header ul {
  display: flex;
  align-items: center;
  list-style: none;
}
header nav a {
  padding: 3px 9px;
  margin-left: 8px;
  margin-right: 8px;
}
header .logo {
  max-width: 35px;
  padding-right: 7px;
 }
 .header-style-btn{
  padding: 10px 14px;
  border: 3px solid var(--header-color-highlight);
  border-radius: 10px;
  transform: all 0.1s ease;
  font-weight: 600;
 }
 header .call-to-action-div a:hover *, .header-style-btn:hover{
  color:var(--header-color-hightlight-brightened);
  border-color: var(--header-color-hightlight-brightened);
 }
 header .call-to-action-div * {
  color: var(--header-color-highlight);
 }
 .user-icon-div{
  position: relative;
 }
 .call-to-action-div > * {
  margin: 0 10px;
 }
 .call-to-action-div box-icon{
  cursor: pointer;
 }
 header .user-icon-div{
  display: flex;
  align-items: center;

 }
header .call-to-action-div box-icon {
  width: 40px;
  height: 40px;
}
 .user-icon-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 50%; 
    transform: translateX(-50%); 
    background: var(--main-bg-color);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100px;
    z-index: 10;
 }
 .user-icon-dropdown-menu ul {
  display: flex;
  flex-direction: column;
  align-content: start;
  justify-content: space-evenly;
  padding:  2px 0;
  margin: 0;
 }
 .user-icon-dropdown-menu li {
  padding: 2px 0;
 }
 .hello-user-span{
  font-weight: bold;
  font-size: 1.3rem;
 }
 .mobile-nav{
  display: flex;
  align-items: center;
  justify-content: end;
 }
 .mobile-nav box-icon{
  width: 40px;
  height: 40px;
 }
 .hamburger-menu{
  position: fixed;
  top: 0;
  right:0;
  width: 150px; 
  height: 100vh;
  background-color: var(--header-bg-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease-in-out;
  padding: 20px;
  z-index: 10;
  display: flex;
  flex-direction: column;
 }
 .hamburger-menu > li {
  margin-top: 15px;
 }
 /* End of Header */

 



:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
